#app {
  width: 70%;
  margin: 10px auto;
  font-family: 'futura', sans-serif;
}

body {
    text-align: center;
}

form {
    display: inline-block;
    align-self: center;
}

ul {
  margin:10;
  padding:20;
  list-style-type: none;
}

li {
  margin: 10px 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

li span {
  padding: 8px;
}

li button {
  background: #f2360c;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
}

li.high-priority {
  border: 2px solid #1a681e;
  color: #1a681e;
}

li.low-priority {
  border: 2px solid #f2360c;
}

input[type="text"] {
  padding: 10px;
  width: 100%;
}

button{
  padding: 10px;
  background: #000;
  color: #fff;
  cursor: pointer;
  border: 1px solid #000;
}
